<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gkash.gkashandroidsdk">

    <application>
        <activity android:name="com.gkash.gkashandroidsdk.GkashPaymentActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/GkashWebViewTheme"
            android:exported="false"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_RETURN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="gkash.my"
                    android:pathPrefix="/return"
                    android:scheme="https" />
            </intent-filter>
        </activity>
    </application>

</manifest>